/* Styles Applying to the entire site */

body {
    font-style: oblique;
    font-family: sans-serif;
}

/* Homepage CSS */

#home-sliver {
    background-color: #79caf9;
}

.is-fullheight-100vh {
    height: 100vh;
}

.hero-background {
    height: 80vh;
}

.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.is-vcentered a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
}

#welcome-button {
    z-index: 1000;
}

#poke-a {
  z-index: 1001;
}

footer a {
    z-index: 2000;
}


/* Battle Screen CSS */

#bScreen {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/bg2.png);
}

#show-poke h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

#show-poke img {
    opacity: 70%;
}

#show-poke img:hover {
    opacity: 100%;
}

#battle-header {
    font-size: 30px;
    color: white;
}

#smaller-height {
    height: 10px;
}

#attack-btn,
#clear-battles,
#play-again {
    font-style: oblique;
    font-family: sans-serif;
}

#place-poke {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#place-poke img {
    height: auto;
}

#attack-btn {
    position: absolute;
    top: 86.5%;
    left: 50%;
    width: 585px;
    height: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
    font-size: 40px;
    display: none;
}

#hp-bar-enemy {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 21.9%;
    left: 29%;
    width: 120px;
    height: 12.2px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#hp-bar-user {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 59.85%;
    left: 76.9%;
    width: 120px;
    height: 10.5px;
}

#enemy-health {
    width: 100%;
    background-color: green;
    color: white;
    display: none;
    width: 120px;
    height: 12.2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-health {
    width: 100%;
    background-color: green;
    color: white;
    display: none;
    width: 120px;
    height: 10.5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-poke-header {
    position: absolute;
    top: 53.6%;
    left: 80%;
    width: 250px;
    height: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: arial;
    text-align: left;
}

#enemy-poke-header {
    position: absolute;
    top: 14.6%;
    left: 22.5%;
    width: 250px;
    height: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: left;
}

.game-over {
    display: none;
    margin-top: 400px;
}

.game-over input,
.game-over button {
    width: 20%;
    height: 35px;
}

#win-lose {
    font-size: 24px;
    color: white;
    width: 100%;
}

.battle-records {
    display: none;
    margin-top: 100px;
    color: white;
}

#list-header {
    font-size: 24px;
}

.footer {
    background-color: #363636;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 10px;
    background: #363636;
}

/* Track */
::-webkit-scrollbar-track {
    background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f14668;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .hero-background {
        height: 70vh;
    }
}

@media screen and (max-width: 575px) {
    .hero-background {
        height: 40vh;
    }
}