body {
    background-color: #363636;
    font-style: oblique;
    display: fill;
    font-family: sans-serif;
    color: white;
}

header h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ball {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    text-shadow: 2px 2px 3px black;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 3px 1px rgb(228, 228, 228);
}

.btn-group button {
   background-color:#6a92f2;
   border: 1px solid #f3fcff;
   color: #f3fcff;
   padding: 6px 18px;
   cursor: pointer;
   float: left;
   margin-bottom: auto;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokestart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg-img { 
    background-image: url(../images/emeraldend.jpg) ;
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}
.img-responsive {
    display: block; 
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 1080px) {
  body {
      background-color: #363636;
  }
};

@media screen and (max-width: 760px) {
    body {
        background-color: #363636;
    }
};

@media screen and (max-width: 480px) {
    body {
        background-color: #363636;
    }
};