/* Styles Applying to the entire site */

@font-face {
    font-family: pokemon;
    src: url("../type_writer.ttf");
}

body {
    font-style: oblique;
    font-family: sans-serif;
}

/* Homepage CSS */

#home-sliver {
    background-color: #79caf9;
}

.is-fullheight-100vh {
    height: 100vh;
}

.hero-background {
    height: 80vh;
}

.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.is-vcentered a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
}

#color-white {
    color: white;
}

#welcome-button {
    z-index: 1000;
}

#poke-a {
  z-index: 1001;
}

footer a {
    z-index: 2000;
}


/* Battle Screen CSS */

#bScreen {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/bg2.png);
}

#show-poke {
    width: 100%;
}

#show-poke h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

#show-poke img {
    opacity: 70%;
}

#show-poke img:hover {
    opacity: 100%;
}

#battle-header {
    font-size: 30px;
    color: white;
}

#smaller-height {
    height: 10px;
}

#attack-btn,
#clear-battles,
#play-again {
    font-style: oblique;
    font-family: sans-serif;
}

#place-poke {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#place-poke img {
    height: auto;
}

#attack-btn {
    position: absolute;
    top: 86.5%;
    left: 50%;
    width: 585px;
    height: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
    font-size: 30px;
    display: none;
    font-family: pokemon, sans-serif;
    font-style: normal;
}

#hp-bar-enemy {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 21.9%;
    left: 29%;
    width: 120px;
    height: 12.2px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#hp-bar-user {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 59.75%;
    left: 76.9%;
    width: 119.5px;
    height: 10.8px;
}

#enemy-health {
    width: 100%;
    background-color: #6ef3a4;
    color: white;
    display: none;
    width: 120px;
    height: 12.2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-health {
    width: 100%;
    background-color:#6ef3a4;
    color: white;
    display: none;
    width: 119.5px;
    height: 10.8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-poke-header {
    position: absolute;
    top: 56.0%;
    left: 83%;
    width: 250px;
    height: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 13px;
    text-align: left;
    display: inline-block;
    font-family: pokemon, -apple-system;
    font-style: normal; 
}

#enemy-poke-header {
    position: absolute;
    top: 17.0%;
    left: 25%;
    width: 250px;
    height: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 13px;
    text-align: left;
    display: inline-block;
    font-family: pokemon, -apple-system;
    font-style: normal;
}

.game-over {
    display: none;
    margin-top: 350px;
}

.game-over input,
.game-over button {
    width: 20%;
    height: 35px;
}

#win-lose {
    font-size: 24px;
    color: white;
    width: 100%;
}

.battle-records {
    margin-top: 100px;
    color: white;
}

#list-header {
    font-size: 24px;
}

.footer {
    background-color: #363636;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    z-index: 5000;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 10px;
    background: #363636;
}

/* Track */
::-webkit-scrollbar-track {
    background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f14668;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .hero-background {
        height: 70vh;
    }
    #show-poke h2 {
        font-size: 15px;
    }
    #battle-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .hero-background {
        height: 70vh;
    }
    #show-poke h2 {
        font-size: 12px;
    }
    #attack-btn {
        font-size: 16px;
        width: 350px;
        height: 60px;
        top: 85%;
    }
    #user-poke-header,
    #enemy-poke-header {
        width: 100px;
        height: 15px;
        font-size: 9px;
    }
    #enemy-poke-header {
        left: 19%;
        top: 16.8%;
    }
    #user-poke-header {
        left: 76%;
        top: 55%;
    }
    #hp-bar-user,
    #hp-bar-enemy,
    #user-health,
    #enemy-health {
        width: 75px;
        height: 7.5px;
    }
    #hp-bar-user {
        top: 59%;
    }
    #hp-bar-enemy {
        top: 21.65%;
    }
    .game-over {
        margin-top: 0;
    }
}

@media screen and (max-width: 350px) {
    .hero-background {
        height: 70vh;
    }
}